---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Página no encontrada">
  <section class="grid place-content-center min-h-screen text-black">
    <p class="md:text-xl">
      Error <strong>404</strong> | Página no encontrada
    </p>
    <div class="text-center my-8">
      <a
        href="/"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-sky-800 rounded-lg hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Regresar
      </a>
    </div>
  </section>
</Layout>
