---
const currentYear = new Date().getFullYear();
---

<footer class="my-8">
  <div class="flex justify-center items-center gap-1">
    <p class="font-semibold text-lg">Desarrollado por:</p>
    <a
      class="border py-1 px-3 rounded-2xl bg-white"
      href="https://www.ceicol.com/"
      target="_blank"
    >
      <img src="/logo_ceicol.png" alt="Logo ceicol" width="50" loading="lazy" />
    </a>
  </div>
  <p class="text-center text-sm font-semibold">© {currentYear} CEICOL.</p>
</footer>
